@import url(fonts.css);

/* ROOT start */
:root {
    --fontFirst: "Comfortaa";
    --fontSecond: "Montserrat";
    --fontThird: "Roboto";
    
    --white: #fff;
    --black: #000;
    --bodyBg: #040D1F;
    --title: #F18128;
    --btn: #F18128;
    --btnHover: #040D1F;
    --linkHover: #ED8E00;
    --banner: rgba(7, 15, 25, 0.75);
    --card: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    --card__time: rgba(7, 15, 25, 0.2);
    --premier:linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    --collections :linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    --series :linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    --footerBg : linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
}

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: var(--fontFirst);
    color: var(--white);
    background: var(--bodyBg);
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background: var(--title);
    border-radius: 3px;
}

.btn {
    background: var(--btn);
    color: var(--black);
    border-radius: 4px;
    padding: 17px;
    max-width: 166px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 12px;
    font-family: var(--fontThird);
    font-weight: 500;
    transition: 500ms;
}

.btn:hover {
    background: var(--btnHover);
    color: var(--white);
}

.text-limit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.text-limit:active {
    -webkit-line-clamp: unset;
}

.title {
    margin-top: 60px;
    margin-bottom: 48px;
}

.title__link {
    font-size: 36px;
    color: var(--title);
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
}

.title__link::after {
    content: '';
    background: var(--title);
    height: 2px;
    display: block;
    margin-top: 2px;
}
/* ROOT end */
/* ======================== */
/* ADS start */
.ads {
    /* background: radial-gradient( red, yellow, green, blue); */
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: var(--white);
}

.ads__icon {
    line-height: 40px;
    font-size: 53px;
    margin-right: 24px;
}
.ads__desc {
    max-width: 166px;
    width: 100%;
}
/* ADS end */
/* ======================== */
/* HEADER start */
.header {
    position: sticky;
    top: 0;
    background: rgba(1, 3, 5, 0.8);
    backdrop-filter: blur(15px);
    z-index: 999;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__button {
    font-size: 40px;
    padding: 20px;
    line-height: 40px;
    background: none;
    border: none;
    color: var(--white);
    display: none;
}
.logo {
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
}
.logo__img {
    margin-right: 5px;
}
.menu {
    display: flex;
}
.menu__link {
    color: var(--white);
    font-family: var(--fontSecond);
    font-weight: 400;
    font-size: 14px;
    padding: 42px 6px;
    display: inline-block;
    margin-left: 18px;
    position: relative;
    transition: 500ms;
}
.menu__link:hover {
    color: var(--linkHover);
}
.menu__link::after {
    content: '';
    height: 2px;
    background: var(--linkHover);
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    border-radius: 2px 2px 0 0;
    transition: 500ms;
}
.menu__link:hover::after {
    left: 0;
    width: 100%;
}
/* HEADER end */
/* ======================== */
/* BANNER start */
.banner {
    min-height: 100vh;
    position: relative;
    display: flex;
}
.banner__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
}
.banner__content {
    position: relative;
    background: var(--banner);
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-family: var(--fontSecond);
}
.banner__title {
    font-size: 64px;
    margin-bottom: 22px;
}
.banner__desc {
    font-size: 16px;
    line-height: 24px;
    max-width: 570px;
    width: 100%;
    margin-bottom: 48px;
    -webkit-line-clamp: 4;
}
.banner__links {
    display: flex;
}
.banner__links .btn:first-of-type {
    margin-right: 30px;
}
/* BANNER end */
/* ======================== */
/* FILMS start */
.card {
    position: relative;
    display: block;
    border-radius: 6px;
    overflow: hidden;
    color: var(--white);
}
.card__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    transition: 500ms;
}
.card__content {
    position: relative;
    background: var(--card);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 15px 19px 15px;
    height: 100%;
}
.card__icon {
    line-height: 48px;
    font-size: 48px;
    margin-bottom: 13px;
    transition: 500ms;
}
.card__time {
    font-family: var(--fontSecond);
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    padding: 8px 28px;
    border: 1px solid #fff;
    border-radius: 9px;
    background: var(--card__time);
    margin-bottom: 32px;
    transition: 500ms;
}
.card__title {
    font-family: var(--fontSecond);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 13px;
    -webkit-line-clamp: 1;
    text-align: center;
}
.card__desc {
    font-family: var(--fontThird);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    -webkit-line-clamp: 7;    
}
.films {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 71px;
}
/* FILMS end */
/* ======================== */

/* PREMIER start */
/* ======================== */
.primier {
    position: relative;
    
}
.premier__content {
    position:relative;
    background:var(--premier);
    padding-top: 43px;
    padding-bottom: 80px;
}
.premier__video {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    object-fit: cover;  
}
.premier__title {
   margin-bottom: 50px;
}
.premier__desc {
    font-family: var(--fontThird);
    font-size: 18px;
    line-height: 27px;
    color: var(--black);
    margin-bottom: 55px;
    max-width: 558px;
    width: 100%;
    text-align: justify;
}
/* PREMIER end */
/* ======================== */

/* COLLECTIONS start */
/* ======================== */
.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: 200px;
}
.collections__card{
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.collections__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collections__content {
    position: relative;
   background:var(--collections);
   height: 100%;
   display: grid;
   place-content: center;
   place-items: center;
   row-gap: 16px;
   padding: 0 30px;
}
.collections__icon {
    line-height: 48px;
    font-size: 48px;
    transition: 500ms;
}
.collections__title {
    font-size: 20px;
    -webkit-line-clamp: 1;
    text-align: center;
    transition: 500ms;
}
.collections__content::before, .collections__content::after {
    content: "";
    background: url(../img/collections/line.png) center / cover;
    display: block;
    width: 20px;
    position: absolute;
    top: 8px;
    bottom: 7px;
    left: 7px;
    transition: 500ms;
}
.collections__content::after {
    right: 7px;
    left: auto;
}
/* COLLECTIONS end */
/* ======================== */



/* SERIES start */
.series {
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    gap: 30px;
    grid-template-rows: repeat(4, 1fr );
}
.series__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms;
}
.series__card:nth-of-type(1){
    grid-column:span 4;
    grid-row: span 2;
    height: 450px;
}
.series__card:nth-of-type(2){
    grid-column:span 2 ;
    grid-row: span 2;
}
.series__card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    min-height: 190px;
}
.series__content {
    position: relative;
    background: var(--series);
    display: grid;
    place-content: center;
    /* justify-content: center;
    align-items: center; */
    place-items: center;
    /* justify-items: center;
    align-items: center; */
    padding: 15px;
    height: 100%;
}
.series__title{
    font-size: 24px;
    -webkit-line-clamp: 1;
}
.series__title_size {
    font-size: 40px;
}
.series__desc {
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    margin: 30px 0;
    -webkit-line-clamp: 4;
}
.series__icon {
    line-height: 48px;
    font-size: 48px;
    margin-bottom: 20px;
}
/* SERIES end */
/* ======================== */


/* FOOTER start */
/* ======================== */
.footer {
    background:var(--footerBg);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    display: flex;
    padding: 24px 0;
    margin-top: 61px;
}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__apps {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 50px;
}
.footer__desc {
    letter-spacing: 0.01em;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

/* FOOTER end */
/* ======================== */